/* MbtiPage.css */
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");

/* 결과 페이지 CSS 구역 */
.ResultOutBox {
  background-color: gainsboro;
  border-radius: 30px;
  width: 850px;
  height: 850px;
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  flex-direction: column;
  text-align: center;
}

.ResultInBox {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 600px;
  height: 750px;
}

.ResultTitle {
  font-family: "Hi Melody", sans-serif;
  font-size: 20px;
}

.ResultPic {
  background-color: green;
  width: 100px;
  height: 100px;
  margin: 40px;
  border-radius: 50px;
}

.ResultMbti {
  font-family: "Hi Melody", sans-serif;
  font-size: 60px;
  border: 5px dashed dodgerblue;
  width: 150px;
  height: 50px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ResultButton {
  font-family: "Hi Melody", sans-serif;
  border-radius: 5px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 80px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.question {
  margin-bottom: 20px;
  font-family: "Hi Melody", sans-serif;
}

.header h1 {
  font-family: "Hi Melody", sans-serif;
  font-size: 2rem;
}

.header h2 {
  font-family: "Hi Melody", sans-serif;
  font-size: 1.5rem;
}

.button {
  border-radius: 5px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-family: "Hi Melody", sans-serif;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.result {
  text-align: center;
  font-family: "Hi Melody", sans-serif;
  font-size: 1.2rem;
}

.result p {
  margin-top: 20px;
}
