#writeComment {
  background-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 17px;
}
#writeComment textarea {
  height: 50px;
  width: 100%;
  margin-bottom: 0;
  border: none;
}
#writeComment textarea:focus {
  outline: none;
}
#writeComment button {
  height: 31px;
  line-height: 31px;
  width: 92px;
  border-radius: 49px;
  background: var(--color-blue);
  color: white;
  text-align: center;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
#buttonRight {
  text-align: right;
}
